<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %> 
<body>
    <!-- the nav bar menu  -->
    <%- include('../partials/nav.ejs') %> 
      
    
        <!-- the footer page  -->
        <%- include('../partials/footer.ejs') %> 
</body>
</html>